# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo
    environment:
      TF_LATEST: "1.12.*"
      CODECOV_TOKEN: 0d2c482b-f42c-4d4c-b092-cb628ad20857
      TF_VERSION: tf-nightly

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            pip install pipenv
            pip install codecov

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: build and install adanet
          command: |
            ./oss_scripts/oss_pip_install.sh

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            ./oss_scripts/oss_test.sh

      - store_artifacts:
          path: test-reports
          destination: test-reports
# version: 2.1
# # orbs:
# #   codecov: codecov/codecov@1.0.2
# jobs:
#   build:  # required for runs that don't use workflows
#     working_directory: ~/adanet
#     docker:
#       - image: circleci/python:3.6.4  # primary container for the build job
#         environment:
#           TF_LATEST="1.12.*"
#           CODECOV_TOKEN="0d2c482b-f42c-4d4c-b092-cb628ad20857"
#           TF_VERSION="tf-nightly"

#     steps:
#       - checkout  # checkout source code to working directory
#       - run: sudo chown -R circleci:circleci /usr/local/bin
#       - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
#       - restore_cache:  # ensure this step occurs *before* installing dependencies
#           key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
#       - run:
#           command: |
#             sudo pip install pipenv
#             sudo pip install codecov
#             pipenv install
#       - save_cache:
#           key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
#           paths:
#             - ".venv"
#             - "/usr/local/bin"
#             - "/usr/local/lib/python3.6/site-packages"
#       - run:
#         command: |
#           ./oss_scripts/oss_pip_install.sh
#           ./oss_scripts/oss_test.sh

#       - run: coverage
#       # - codecov/upload:
#       #     file: {{ coverage_report_filepath }}
#       - store_test_results:
#           path: test-results
#       - store_artifacts:
#           path: test-results
#           destination: tr1
